# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\西门小狼狗\4.MyGitHub\mashibing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
